<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ meta.url }}{{ page.url }}"
    },
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "@id": "{{ meta.url }}{{ page.url }}",
    "headline": "{{ title or meta.siteName }}",
    "description": "{{ discover.description or description or meta.siteDescription }}",
    "image": "{{ meta.url }}{% if discover.image %}/assets/images/{{ discover.image }}{% else %}{{ meta.opengraph_default }}{% endif %}",
    "inLanguage": "{{ meta.locale }}",
    "publisher": {
      "@type": "{{ meta.siteType }}",
      "name": "{{ meta.author.name }}",
      "url": "{{ meta.url }}"
    },
    "author": {
      "@type": "Person",
      "name": "{{ meta.author.name }}",
      "url": "{{ meta.author.website }}"
    },
    "datePublished": "{{ date | toIsoString }}",
    {% if lastUpdated %}
    "dateModified": "{{ lastUpdated | toIsoString }}",
    {% else %}
    "dateModified": "{{ date | toIsoString }}",
    {% endif %}
    {% if tags and tags.length > 0 %}
    "keywords": "{{ tags | join(', ') }}",
    {% endif %}
    "url": "{{ meta.url }}{{ page.url }}"
  }
</script>
