.site-footer {
  --cluster-horizontal-alignment: center;
}

/* increase tab size */
.site-footer a:not(.creator a) {
  padding: var(--space-xs);
}
.site-footer .creator a:hover {
  color: var(--color-primary);
}

.site-footer .creator a:hover svg {
  color: var(--color-primary);
}
