.gradient-text {
  color: transparent;
  background-image: var(--gradient-conic);
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
}

.gradient-text-linear {
  color: transparent;
  background-image: var(--gradient-rainbow);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
}

.text-clip-image {
  color: transparent;
  background-image: url('/assets/images/gallery/kittens_01.jpg');
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}