{% include "schemas/WebSite.njk" %}

{% if schema %}
  {%- set schemaList = schema | split(',') -%}
  {%- for schemaItem in schemaList -%}
    {%- include "schemas/" + schemaItem + ".njk" -%}
  {%- endfor -%}
{% endif %}
