---
layout: base
title: Lizard Logs
description: 'All the ramblings are found here.'
pagination:
  data: collections.allPosts
  size: 8
permalink: 'blog/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region" style="--region-space-top: var(--space-xl-4xl)">
      <h1 class="text-center" style="text-primary">{{ title }}</h1>
    </div>

  </header>

  <div class="region flow prose" style="--region-space-top: var(--space-xl-4xl)">

  </div>

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>

 <article class="full | region">
    <div class="wrapper flow">
      <h4 class="text-center" style="color: var(--color-light);">Log History:</h4>
    </div>
  </article>

{% set currentYear = 0 %}

<ol class="post-list" reversed>
  {%- for post in pagination.items -%}
    
    {# For each post, get its year and store it in a 'year' variable #}
    {% set year = post.date.getFullYear() %}

    {# Check if this post's year is different from the currentYear we are tracking #}
    {% if year != currentYear %}
      
      {# If it's a new year, print the year heading... #}
      <h4 class="post-list-year">{{ year }}</h4><br>
      
      {# ...and then update the currentYear variable to this new year. #}
      {% set currentYear = year %}

    {% endif %}

    {# Now, print the list item for the post as usual #}
    <li class="post-list-item">
      <a href="{{ post.url }}">
        <span>{{ post.data.title }}</span>
        {% set definedDate = post.date %} {% include "partials/date.njk" %}
      </a>
    </li>
  {%- endfor -%}
</ol>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>
