---
layout: base
permalink: /index.html
title: 'the lizards den'
description: 'Lizards Den, a creative notebook'
blog:
  title: 'Lizard Logs'
---

<div class="wrapper region" style="--region-space-top: var(--space-xl-2xl)">
  <header class="hero-section hero-section--contained">
    <h1 class="clip-text clip-text--cover clip-text--full-width clip-text_one" style="--hero-image-url: url('/assets/images/gallery/kittens_04.jpg')">{{ title }}</h1>
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2>My creative workshop</h2>
      <p>
        If you've made it here welcome! This is not a website, it is a notebook, a personal workshop where I'm allowed to ramble and talk about my creative work without the weight of perfectionism.
      </p>
    </div>
  </article>

  <section class="full | region" style="--region-space-top: var(--space-l)">
    <div class="wrapper flow prose">
      <h3 class="text-step-1">{{ blog.title }}</h3>
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>

{%- css "local" -%}
  {%- include 'css/box-layout.css' -%}
{%- endcss -%}
