---
layout: base
permalink: /index.html
title: 'The Lizards Den'
description: 'Lizards Den, a somewhat creative area where I am free to ramble.'
blog:
  title: 'Lizard Logs'
  intro: "The latest ramblings!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">A personal creative space</h2>
      <p>
        If you've made it here welcome, this is not a website. This is a notebook or a personal workshop where I'm allowed to ramble and talk about my creative work without the weight of perfectionism.
        For too long have I been idle in search of the perfect. And I have long wanted a space loose and low stakes enough for me to simply document and share for those who wish to see.
      </p>
      
      <p><strong>Good luck!</strong> I'm excited to claim this space as my own.</p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
