---
layout: base
permalink: /index.html
title: 'The Lizards Den'
description: 'Lizards Den, a creative area where I ramble.'
blog:
  title: 'Lizard Logs'
  intro: "Browse the latest from the Lizards Den"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">My creative workshop</h2>
      <p>
        If you've made it here welcome! This is not a website, it is a notebook, a personal workshop where I'm allowed to ramble and talk about my creative work without the weight of perfectionism.
      </p>

      <p><strong>Good luck!</strong> You are free to come along.</p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
