<footer class="site-footer">
  <div class="site-footer__inner">
    <span class="site-footer__copy">&copy; {% year %} {{ meta.author.name }}</span>

    <nav class="site-footer__nav" aria-label="{{ meta.navigation.ariaBottom }}">
      {% for item in navigation.top %}
        <a
          href="{{ item.url }}"
          {{
            helpers.getLinkActiveState(item.url,
            page.url)
            |
            safe
          }}
        >{{ item.text }}</a>
      {% endfor %}
      <a href="{{ meta.blog.feedLinks[0].url }}" rel="alternate" type="{{ meta.blog.feedLinks[0].type }}" class="site-footer__rss">
        RSS
      </a>
    </nav>
  </div>
</footer>
