<is-land on:idle>
  <div class="gallery mt-l-xl" role="list">
    {%- for item in gallery -%}
      <dialog class="gallery-modal modal{{ loop.index }}">
        <button class="gallery-close" aria-label="Close"></button>
        <figure class="gallery-figure">
          {%- image item.image, item.alt -%}
          {% if item.caption %}
            <figcaption>{{ item.caption }}</figcaption>
          {% endif %}
        </figure>
      </dialog>
      <button class="gallery-thumb" data-index="{{ loop.index }}" aria-label="View image {{ loop.index }}">
        {%- image item.image, item.alt -%}
      </button>
    {%- endfor -%}
  </div>

  {% css "local" %}
    {% include "css/gallery.css" %}
  {% endcss %}

  {% js "defer" %}
    {% include "scripts/gallery.js" %}
  {% endjs %}
</is-land>
